.searchFlex {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.topSearchFlex{
  display: flex;
}

.infoFlex {
  display: flex;
  width: 50%;
}

.bottomSearchFlex {
  display: flex;
  flex-direction: column;
}

.priceSearchFlex {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}

.authorFlex {
  display: flex;
  flex-direction: row;
}

#divide {
  margin: 30px;
}